doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' type="text/css" href='/styles/flashStyles.css')
        title Flash Cards
        <link rel="icon" type="image" href="/logo.jpeg" />
    body
    include includes/header.pug
    .cardHolder
        #card
            img(src="", alt="")
            h4.question djshfkjlds
            h5.hint dkjsflhjkdhsf
            button.enter enter
        //- divclass="card" style="width: 18rem;"
        //-     img(class="card-img-top" src="..." alt="Card image cap")
        //-     divclass="card-body"
        //-         h5(class="card-title") Card title
        //-         p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
        //-         a(href="#" class="btn btn-primary") Go somewhere