doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' type="text/css" href='/styles/flashStyles.css')
        title Flash Cards
        <link rel="icon" type="image" href="/images/title_logo.jpeg" />
    body
    include includes/header.pug
    #modal.modal 
        #modalContent
            p#addMore Add a new card
            form(action="/addcard" method="POST")
                input#top(type="text" placeholder="question" name="question")
                input#middle(type="text" placeholder="hint" name="hint")
                input#bottom(type="text" placeholder="answer" name="answer")
                button#submit(type="submit") Submit
            button.cancel(type="cancel") Cancel
            button#edit(type="edit") Edit
            button#delete(type="delete") Delete
        #modalPutContent
            p#addMore Edit a card
            form#formPut(action="/addcard/" method="put")
                input#top(type="text" placeholder="question" name="question")
                input#middle(type="text" placeholder="hint" name="hint")
                input#bottom(type="text" placeholder="answer" name="answer")
                button#submit(type="submit") Submit
            button.cancel(type="cancel") Cancel   
        #modalDeleteContent
            p#addMore Delete a card
            form(action="/addcard" method="put")
                input#top(type="text" placeholder="question" name="question")
                input#middle(type="text" placeholder="hint" name="hint")
                input#bottom(type="text" placeholder="answer" name="answer")
                button#submit(type="submit") Submit
            button.cancel(type="cancel") Cancel     
    #cardHolder
        #cardQuestion
            img#questionHead(src="/images/question_header.jpeg", alt="")
            #questionHolder
                h2.question(name="question") loading... 
                h3.hint(name="hint") Want a hint? Click Me
                h3.hintShow(name="hintShow") 
                button#enter Answer
        #cardAnswer
            img#answerHead(src="/images/answer_header.png", alt="")
            #answerHolder
                h2.answer(name="answer") 
                button#back Question
                button#next Next
    button#addNew Add New 
script(src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
script(src="/scripts/flashScripts.js")

   