doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' type="text/css" href='/styles/flashStyles.css')
        title Flash Cards
        <link rel="icon" type="image" href="/images/title_logo.jpeg" />
    body
    include includes/header.pug
    h3#contentAdded
    #modal.modal 
        #modalContent
            form(action="/addcard" method="POST")
                input(type="text" placeholder="question" name="question")
                input#middle(type="text" placeholder="hint" name="hint")
                input(type="text" placeholder="answer" name="answer")
                button#submit(type="submit") Submit
                button#cancel(type="cancel") Cancel
    #cardHolder
        #cardQuestion
            img#questionHead(src="/images/question_header.jpeg", alt="")
            #dataHolder
                h2.question(name="question") The question
                h3.hint(name="hint") Want A Hint?
                h3.hintShow(name="hint") This is the hint
                button#enter enter
        #cardAnswer
            img#answerHead(src="/images/answer_header.png", alt="")
            #dataHolder
                h2.answer(name="answer") the Answer
                button#back Question
                button#next Next
    button#addNew Add New 
script(src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src="/scripts/flashScripts.js")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')

        //- ul(class='quotes')
        //- each quote in quotes
        //-     li(class='quote')
        //-     span=quote.name + ": "
        //-     span=quote.quote
        //- divclass="card" style="width: 18rem;"
        //-     img(class="card-img-top" src="..." alt="Card image cap")
        //-     divclass="card-body"
        //-         h5(class="card-title") Card title
        //-         p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
        //-         a(href="#" class="btn btn-primary") Go somewhere