/* Hi */
html,
body {
    display: block;
    background-color: #e2e2e2;
    height: 100%;
}

/* The jumbotron is here */
.jumbotron {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #58748b;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    text-shadow: black 0.1em 0.1em 0.1em;
    height: 160px;
}

h1 {
    margin-top: -5%;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin: auto;
        margin-top: 15%;
        font-size: 40pt;
    }

}

@media only screen and (max-width: 339px) {
    h1 {
        margin: auto;
        margin-top: 15%;
        font-size: 35pt;
    }

}

/* makes the jumbotron text flash */
/* h1 {
    animation: blinkingText 1.0s 3;
}

@keyframes blinkingText {
    0% {color: white;}
    49% {color: transparent;}
    50% {color: transparent;}
    99% {color: transparent;}
    100% {color: white;}
} */
/* Holds the cards, both question and answer */
#cardHolder {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 300px;
}

/* The question card is here */
#questionHolder {
    text-align: center;
    height: 50%;
    margin-top: 15%;
}

#cardQuestion {
    justify-content: center;
    background-color: #234160;
    width: 27%;
    height: 170%;
    border-radius: 5%;
    color: whitesmoke;
    box-shadow: black .3em .3em .3em;
    margin-top: -50px;
}

.hintShow {
    display: none;
}

.hint:hover {
    cursor: pointer;
}

#questionHead {
    width: 100%;
    height: 25%;
    border-radius: 16px;
    border-bottom: solid 2px black;
}

#enter {
    background-color: grey;
    font-size: 14pt;
    border-radius: 10%;
    margin-top: 40px;
    box-shadow: black .3em .3em .3em;
}

#enter:hover {
    background-color: rgb(60, 60, 209);
}

/* The answer card starts here */
#answerHolder {
    text-align: center;
    height: 50%;
    margin-top: 15%;
}

#cardAnswer {
    display: none;
    justify-content: center;
    background-color: #78909c;
    width: 27%;
    height: 170%;
    border-radius: 5%;
    color: #234160;
    box-shadow: black .3em .3em .3em;
    margin-top: -50px;
}

#answerHead {
    width: 100%;
    height: 25%;
    border-radius: 16px;
    border-bottom: solid 2px black;
}

#back {
    background-color: grey;
    font-size: 14pt;
    border-radius: 10%;
    margin-top: 60px;
    margin-right: 40px;
    box-shadow: black .3em .3em .3em;
}

#back:hover {
    background-color: rgb(60, 60, 209);
}

#next {
    background-color: grey;
    font-size: 14pt;
    border-radius: 10%;
    margin-top: 40px;
    box-shadow: black .3em .3em .3em;
}

#next:hover {
    background-color: rgb(60, 60, 209);
}

/* The add new button is here */
#addNew {
    position: relative;
    margin-top: 5%;
    margin-right: 40px;
    float: right;
    font-size: 15pt;
    box-shadow: black .3em .3em .3em;
    border-radius: 10%;
}

#addNew:hover {
    background-color: yellow;
}

/* The modal starts here */
.modal {
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 4px double black;
    width: 300px;
    height: 50%;
}

#modalPutContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 4px double black;
    width: 300px;
    height: 50%;
}

#modalDeleteContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 4px double black;
    width: 300px;
    height: 50%;
}

.id {
    display: none;
}

#addMore {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: -15px;
}

form {
    display: inline-grid;
    margin: 20% auto;
}

input {
    font-size: 14pt;
    margin-top: 5px
}

#middle {
    margin-top: 5px;
}

#submitAdd {
    width: 70px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}

#submitAdd:hover {
    background-color: rgb(57, 190, 57);
}

#submitUpdate {
    width: 70px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}

#submitUpdate:hover {
    background-color: rgb(233, 229, 32);
}

#submitDelete {
    width: 70px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}

#submitDelete:hover {
    background-color: rgb(247, 77, 77);
}

#edit {
    width: 70px;
    justify-content: center;
    /* margin: auto; */
    margin-top: 10px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}

#delete {
    margin-left: 75%;
    width: 70px;
    justify-content: center;
    /* margin: auto; */
    margin-top: -24px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}

#deleteText {
    color: red;
}

.cancel {
    width: 70px;
    justify-content: center;
    margin: auto;
    margin-top: -50px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: black 0.1em 0.1em 0.1em;
}